$box-shadow-mid : 0 1px 3px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #F1F1F1;
}

table {
  color: #ddd;
  background: #333333 ;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  box-shadow: $box-shadow-mid;
}


%hover-animation {
  cursor: pointer;
  transition: 0.3s background cubic-bezier(0.86, 0, 0.07, 1);
  &:hover {
    background: rgba(0,0,0,0.1);
    .options {
      width: auto;
      opacity: 1;
    }
  }
}



tr {
  border-bottom: 1px solid rgba(140, 140, 140, 0.17);
}

tbody {
  tr {
    @extend %hover-animation;
  }

}

th {
  line-height: 32px;
  font-weight: bold;
}

th, td {
  text-align: left;
  padding: 1em;
  max-height: 32px;
  height: 32px;
  line-height: 32px;
  &.options {
    opacity: 0;
    overflow:hidden;
    max-height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    transition: 0.3s opacity cubic-bezier(0.86, 0, 0.07, 1);
  }
}

thead {
  color: #888
}
